.buttonAppSecondary {
    padding: 6px 20px;
    border-radius: 6px;
    background: var(--background-03);
    border: none;
    color: var(--secondary-01);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    cursor: pointer;
    margin-right: 20px;
}