@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600");

:root {
  --primary-01: #46B13D;
  --text-01: #222222;
  --text-02: #000000;
  --text-03: #333333;
  --text-interactive: #3860AD;
  --text-button: #FFFFFF;
  --border: #999999;
  --placeholder: #CCCCCC;
  --focused: #5C90F3;
}

body {
  margin: 0;
  padding: 0;
}

.app {
  height: 100vh;
  width: 100vw;
}

.buttonApp {
  padding: 6px 20px;
  border-radius: 6px;
  background: var(--primary-01);
  border: none;
  color: var(--text-button);
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
}

.formWrapper1 {
  margin-bottom: 20px;
}
[data-responsive*='desktop'] .formWrapper1 {
  margin-top: 163px;
}

.formWrapper2 {
  margin-bottom: 30px;
}

.formWrapper3 {
  margin-bottom: 63px;
}

.mainWrapper {
  width: 100%;
  height: 100%;
  background-image: url("/img/background_graphic.svg");
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 200px;
}

[data-responsive*="desktop"] .mainWrapper {
  background-size: 345px;
}

.mainContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.interactiveText {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 19.5px;
  color: var(--text-interactive);
  cursor: pointer;
}

.signupWrapper {
  display: flex;
}

.signupTitle {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 500;
  color: var(--text-01);
  line-height: 20px;
}

.topBar {
  width: 100%;
}

.topBar {
  display: flex;
}

.topTitle {
  font-family: "Poppins", sans-serif;
  font-size: 22px;
  font-weight: 500;
  color: var(--text-01);
  line-height: 33px;
  padding: 35px;
}


