[data-app~="video.account.profile"] .accountProfile {
    color: var(--text-interactive);
}

[data-app~="video.account.billing"] .accountBilling {
    color: var(--text-interactive);
}

[data-app~="video.account.plan"] .accountPlan {
    color: var(--text-interactive);
}
